@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

@mixin touch-device {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent: rgb(233, 233, 233);
  --scrollbarHandle: rgba(255, 255, 255, 0.2);
  --scrollbarHandleHover: rgba(255, 255, 255, 0.4);
  --header-height: 56px;
}

html,
body {
  overscroll-behavior: none;
}

html,
html * {
  scrollbar-color: var(--scrollbarHandle) transparent;
  scrollbar-width: thin;
}

html::-webkit-scrollbar,
html *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: #ffffff1a;
}

html::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background: var(--scrollbarHandle);
}

html::-webkit-scrollbar-thumb:hover,
html *::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbarHandleHover);
}

html::-webkit-scrollbar-thumb:active,
html *::-webkit-scrollbar-thumb:active {
  background: var(--accent);
}

body {
  height: 100vh;
  height: 100dvh;
  margin: 0;
  background-color: #1f1f1f;
  color: #efefef;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  touch-action: manipulation;
}

h1 {
  font-size: inherit;
  font-weight: 400;
}

a:any-link {
  color: #66ccff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  padding-left: 25px;
}

dd {
  margin-left: 40px;

  + dt {
    margin-top: 10px;
  }
}

hr {
  height: 1px;
  margin: 0 10px;
  border: 0;
  background-color: #7f7f7f;
}

fieldset {
  border-style: solid;
  border-width: 2px;
  border-color: #7f7f7f;
  border-radius: 5px;
  padding: 10px;
}

legend {
  padding: 0 8px;
}

label {
  display: block;
}

input[type="checkbox"] {
  accent-color: #66ccff;
  cursor: pointer;
}

input[type="range"] {
  height: 2px;
  background-color: #e5e5e5;
  appearance: none;

  &::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border: 0;
    background-color: #ffffff;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
  }
}

select,
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"] {
  padding: 8px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  color: lightgray;
  background: #1f1f1f;
  font-family: inherit;
  color-scheme: dark;

  &::placeholder {
    color: #7f7f7f;
  }

  &:disabled {
    background-color: #606060;
    color: #7f7f7f;
  }
}

button {
  padding: 5px 13px;
  border: 0;
  border-radius: 5px;
  background-color: #333333;
  color: lightgray;
  font-size: 1em;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: #555555;
    color: white;
  }

  &:active {
    background-color: #111111;
    color: gray;
  }

  &:disabled {
    background-color: #111111;
    color: #7f7f7f;
    cursor: not-allowed;
  }

  &.primary {
    color: #202020;
    background-color: #3785d7;

    &:hover {
      background-color: #8ac3ff;
      color: #555555;
    }

    &:active {
      background-color: #225a97;
      color: #111111;
    }

    &:disabled {
      background-color: #858c93;
      color: #111111;
    }
  }

  &.enable {
    color: #47cb49;

    &:hover {
      color: #70de72;
    }

    &:active {
      color: #2d822e;
    }

    &:disabled {
      color: #8bae8b;
    }
  }

  &.danger {
    color: #ef5555;

    &:hover {
      color: #ff7676;
    }

    &:active {
      color: #942727;
    }

    &:disabled {
      color: #522121;
    }
  }
}

details {
  overflow: hidden;
  border-radius: 10px;
  background-color: #232323;
  box-shadow: 0 0 8px 0 #000000;

  summary {
    padding: 10px;
    background-color: #323232;
    cursor: pointer;
    user-select: none;
  }

  p,
  div,
  details {
    margin: 10px;
  }
}

blockquote {
  margin: 8px 5px;
  border-left: 3px solid #333333;
  padding-left: 8px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: var(--header-height);
  padding: 15px 12.5px;
  background: #111111;
  font-size: 18px;
  line-height: 26px;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;

  a:any-link {
    color: inherit;
  }

  #language-select {
    background: #1f1f1f;
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 5px;
    color: lightgray;
    font-family: inherit;
    color-scheme: dark;
    cursor: pointer;

    &:disabled {
      background-color: #606060;
      color: #7f7f7f;
      cursor: default;
    }
  }
}

// Sequencer specific styles
#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - var(--header-height));
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

.sequencer-container {
  --sound-panel-width: 180px;
  --width-per-note: 40px; // 4th note
  --height-per-note: 20px;
  --grid-beats: 64; // 64 beats
  --grid-keys: 88; // 88 keys
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  flex-direction: column;
  min-height: 0;
  background: #1a1a1a;
}

.piano-roll-section {
  display: flex;
  overflow: auto;
  height: 100%;
  margin-block-end: calc(var(--scrollbar-width, 0px) * -1);
  background: #1e1e1e;

  &.notify {
    &::after {
      animation: notify 1s 1s ease-out backwards;
    }
  }

  &::after {
    display: grid;
    place-items: center;
    flex-shrink: 0;
    position: sticky;
    top: 50%;
    right: 50%;
    z-index: 1;
    opacity: 0;
    translate: 50% -50%;
    width: 200px;
    height: 200px;
    background-color: #0000007f;
    font-size: 78px;
    font-weight: 300;
    content: attr(data-track);
    pointer-events: none;
  }
}

@keyframes notify {
  0% {
    opacity: 1;
  }
}

.melody-sound,
.beat1-sound,
.beat2-sound {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 10px;
  position: sticky;
  top: 0;
  width: var(--sound-panel-width);
  padding: 10px;

  input[type="file"] {
    display: none;
  }

  .file-label {
    display: grid;
    place-items: center;
    height: 100%;
    background: #333;
    border-radius: 4px;
    padding: 8px 12px;
    color: #ccc;
    font-size: 13px;
    text-align: center;
    cursor: pointer;

    span {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      background: #555;
    }

    &:active {
      background: #111;
    }
  }

  button {
    padding: 6px 12px;
    font-size: 12px;
  }

  .pitch-shift-label {
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    color: #ccc;
    text-align: center;
    background: #222;

    &[hidden] {
      display: none;
    }

    span {
      display: block;
      margin-bottom: 4px;
    }

    input[type="number"] {
      width: 60px;
      padding: 4px 8px;
      font-size: 12px;
    }
  }
}

.piano-roll-grid {
  flex-shrink: 0;
  position: relative;
  width: calc(var(--width-per-note) * var(--grid-beats));
  height: calc(var(--height-per-note) * var(--grid-keys));
  margin-inline-end: -100px;

  &.note-dragging {
    cursor: move;

    .note {
      cursor: inherit;
      opacity: 0.6;
    }
  }

  &.note-resize {
    cursor: ew-resize;

    .note {
      cursor: inherit;
    }
  }

  &.playback-drag {
    cursor: col-resize;
  }
}

.playback-position {
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 2px;
  height: 100%;
  margin-inline-end: -2px;
  background: #a11f1f;
  transform: translateX(var(--position, 0px));
  transition: background-color 0.1s ease;
  cursor: col-resize;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    width: 40px;
    height: 30px;
    background: #a11f1f;
    transition: inherit;
  }

  &:hover {
    background: #afafaf;

    &::after {
      background: #afafaf;
    }
  }
}

#track-selector {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-self: flex-start;
  position: sticky;
  top: 50%;
  right: 0;
  z-index: 1;
  translate: 0 -50%;
  width: 100px;
  margin-inline-end: calc(-200px * 1.5);
  text-align: center;

  &:hover {
    > * {
      animation: blink 1s ease-in-out infinite alternate;

      &:nth-child(2),
      &:nth-child(4) {
        animation-delay: 0.25s;
      }

      &:nth-child(1),
      &:nth-child(5) {
        animation-delay: 0.75s;
      }
    }
  }

  label {
    font-size: 12px;
  }

  span {
    font-size: 36px;
    margin-block: -4px;
  }
}

@keyframes blink {
  100% {
    opacity: 0.3;
  }
}

.rhythm-section {
  flex-basis: 220px;
  flex-shrink: 0;
  overflow: auto;
  border-block-start: 1px solid #333;
  background: #1e1e1e;
  // scrollbar-gutter: stable;
}

.rhythm-tracks {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  height: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: calc(var(--scrollbar-width, 0px) * -1);
    width: var(--scrollbar-width, 0px);
    height: 100%;
  }
}

.rhythm-track {
  display: flex;
  flex-basis: 50%;
  border-inline-end: 1px solid #333;

  &:last-child {
    border-inline-end: none;
  }
}

.rhythm-grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-beats), var(--width-per-note));
  place-items: center;
  height: 100%;
  background-image: linear-gradient(to right, #333 2px, transparent 1px);
  background-size: calc(var(--width-per-note) * 4) 100%; // Highlight every 4 beats
}

.control-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  background: #232323;
  border-block-start: 2px solid #333;
  padding: 10px;
}

.playback-controls {
  order: 2;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button#prev-btn,
  .toggle-btn {
    width: 40px;
    height: 40px;
    background: none;
  }

  button#play-btn {
    width: 50px;
    height: 50px;
    font-size: 36px;
  }

  .toggle-btn {
    @extend button;
    position: relative;
    width: 40px;
    height: 40px;

    &:hover,
    &:active {
      background: none;
    }

    input[type="checkbox"] {
      position: absolute;
      inset: 0;
      border-radius: 5px;
      appearance: none;

      + label {
        color: #6d6d6d;
      }

      &:hover + label {
        color: #ccc;
      }

      &:active + label {
        color: #888;
      }

      &:checked + label {
        color: inherit;
      }
    }
  }
}

.bpm-control {
  justify-self: right;
  order: 1;
  width: 200px;
  padding-inline: 10px;
  text-align: center;

  label {
    color: #ccc;
  }

  #bpm-value {
    all: revert;
    width: 35px;
    padding: 0;
    border: 0;
    margin: 0;
    background: none;
    font: inherit;
    font-weight: bold;
    color: #66ccff;
    text-align: center;
    appearance: none;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button {
      display: none;
    }
  }

  #bpm-slider {
    width: 100%;
  }
}

.menu {
  display: grid;
  place-items: center right;
  order: 3;
  position: relative;

  &.is-open {
    .menu-content {
      opacity: 1;
      visibility: visible;
    }
  }

  > button {
    padding: 4px;
    border-radius: 0;
    background: none;
    font-size: 36px;
  }
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: absolute;
  right: 0;
  bottom: calc(100% - 2px);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease, visibility 0.1s ease;
  width: 280px;
  padding: 6px;
  background: #2d2d2d;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 #000000;
}

.selects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 6px;

  .speed-control,
  .quantization-control {
    display: contents;
  }

  label {
    margin-inline-start: 8px;
    color: #ccc;
    font-size: 14px;
  }
}

.import-midi,
.export-midi,
.clear-button {
  grid-column: 1 / -1;

  button {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    background-color: transparent;
    text-align: left;

    &:hover {
      background-color: #494949;
    }

    &:active {
      background-color: #111111;
    }
  }
}

// Grid styles for piano roll and rhythm
.grid {
  background-image: linear-gradient(to right, #333 1px, transparent 1px),
    linear-gradient(to bottom, #333 1px, transparent 1px),
    linear-gradient(to right, #333 2px, transparent 1px),
    linear-gradient(to bottom, #444 2px, transparent 1px);
  background-size: var(--width-per-note) var(--height-per-note),
    var(--width-per-note) var(--height-per-note),
    calc(var(--width-per-note) * 4) var(--height-per-note),
    var(--width-per-note) calc(var(--height-per-note) * 12);
  background-position: 0 0, 0 0, 0 0, 0 20px;
}

.note {
  display: flex;
  align-items: center;
  position: absolute;
  top: calc(var(--height-per-note) * (108 - var(--pitch)));
  left: calc(var(--width-per-note) * var(--start));
  background: #66ccff;
  border: 1px solid #4da6d9;
  border-radius: 3px;
  padding-inline: 4px;
  cursor: pointer;
  width: calc(var(--width-per-note) * var(--length));
  min-width: 10px;
  height: 18px;
  color: #000;
  font-size: 14px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    --point-width: 10px;
    right: calc(var(--point-width) / -2);
    width: var(--point-width);
    height: 100%;
    cursor: ew-resize;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background: #ffffff3f;
  }

  &:hover {
    background: #7dd3ff;
  }

  &.selected {
    background: #007acc;
    color: #fff;
    border: 2px solid #005a9e;
  }
}

.selection-box {
  border: 1px dashed #007acc;
  background-color: rgba(0, 122, 204, 0.1);
}

.beat {
  width: 30px;
  height: 30px;
  background: #666;
  border: 2px solid #444;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background: #777;
  }

  &.active {
    background: #ff6b6b;
    border-color: #ff5252;
  }
}
